ion-toolbar {
  --min-height: 44px;
  --background: var(--ion-color-primary);
  --color: #1d191a;

  @media (min-width: 768px) {
    --min-height: 56px;
  }
}

ion-content {
  --ion-padding: 16px;

  @media (min-width: 768px) {
    --ion-padding: 32px;
  }
}
